.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: 0;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  /* font-family: 'Press Start 2P', cursive; */
  font-family: "Major Mono Display", monospace;
  /* font-family: 'Libre Barcode 39 Text', cursive; */
  font-size: 7rem;
  filter: drop-shadow(0 1px 10px);
  letter-spacing: 1.3rem;
  position: absolute;
}

.glitched {
  animation: glitch 4.2s step-end infinite;
}

.layers {
  position: relative;
  overflow: hidden;
}

.layers::before, .layers::after {
  content: attr(data-text);
  filter: drop-shadow(0 1px 10px);
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
}

@keyframes glitch {
  0% {
    clip-path: polygon(
      0% 33%,
      70% 33%,
      70% 60%,
      22% 60%,
      22% 62%,
      36% 62%,
      36% 65%,
      88% 65%,
      88% 57%,
      87% 57%,
      87% 79%,
      12% 79%,
      12% 47%,
      49% 47%,
      49% 89%,
      73% 89%,
      73% 15%,
      10% 15%,
      10% 78%,
      42% 78%,
      42% 96%,
      32% 96%,
      32% 64%,
      13% 64%,
      13% 48%,
      79% 48%,
      79% 15%,
      78% 15%,
      78% 35%,
      96% 35%,
      96% 25%,
      74% 25%,
      74% 45%,
      62% 45%,
      62% 93%,
      27% 93%,
      27% 73%,
      95% 73%,
      95% 60%,
      70% 60%,
      70% 54%
    );
  }

  5% {
    clip-path: polygon(
      0% 63%,
      4% 63%,
      4% 49%,
      51% 49%,
      51% 37%,
      14% 37%,
      14% 32%,
      94% 32%,
      94% 65%,
      81% 65%,
      81% 27%,
      37% 27%,
      37% 66%,
      17% 66%,
      17% 20%,
      70% 20%,
      70% 43%,
      60% 43%,
      60% 57%,
      53% 57%,
      53% 65%,
      19% 65%,
      19% 78%,
      96% 78%,
      96% 41%,
      12% 41%,
      12% 68%,
      96% 68%
    );
  }

  31% {
    clip-path: polygon(
      0% 25%,
      57% 25%,
      57% 88%,
      72% 88%,
      72% 8%,
      61% 8%,
      61% 42%,
      10% 42%,
      10% 13%,
      93% 13%,
      93% 85%,
      40% 85%,
      40% 90%,
      65% 90%,
      65% 57%,
      93% 57%,
      93% 87%,
      96% 87%,
      96% 89%,
      74% 89%,
      74% 89%,
      21% 89%,
      21% 18%,
      80% 18%,
      80% 51%,
      44% 51%,
      44% 7%,
      62% 7%,
      62% 83%,
      35% 83%,
      35% 8%,
      65% 8%,
      65% 33%,
      58% 33%,
      58% 76%,
      90% 76%,
      90% 90%,
      83% 90%,
      83% 92%,
      28% 92%,
      28% 15%,
      14% 15%,
      14% 57%
    );
  }

  45% {
    clip-path: polygon(
      0% 55%,
      84% 55%,
      84% 1%,
      29% 1%,
      29% 44%,
      36% 44%,
      36% 86%
    );
  }

  76% {
    clip-path: polygon(
      0% 75%,
      13% 75%,
      13% 92%,
      43% 92%,
      43% 36%,
      69% 36%,
      69% 76%,
      84% 76%,
      84% 30%,
      79% 30%,
      79% 47%,
      8% 47%,
      8% 61%,
      23% 61%,
      23% 85%,
      0% 85%,
      0% 73%,
      75% 73%,
      75% 97%,
      27% 97%,
      27% 59%,
      34% 59%,
      34% 82%,
      1% 82%,
      1% 64%,
      64% 64%,
      64% 28%,
      43% 28%,
      43% 45%,
      17% 45%,
      17% 40%,
      74% 40%,
      74% 76%,
      14% 76%,
      14% 94%
    );
  }

  90% {
    clip-path: polygon(
      0% 87%,
      87% 87%,
      87% 40%,
      7% 40%,
      7% 82%,
      42% 82%,
      42% 30%,
      17% 30%,
      17% 99%,
      86% 99%,
      86% 30%,
      60% 30%,
      60% 36%,
      75% 36%,
      75% 91%,
      6% 91%,
      6% 90%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.title,
.description {
  text-align: center;
  color: #eaeaea;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
